# 接入类型：upd、serial
access_type: udp
udp_port: 9999
serial:
  port: COM1
  baudrate: 115200
  # 5, 6, 7, 8
  bytesize: 8
  # 'N', 'E', 'O', 'M', 'S'
  parity: N
  # 1, 1.5, 2
  stopbits: 1.0

# 并行提取测量值的子进程数量
parase_worker_cnt: 6

gui: true

# 滚码最大间隔，超过阈值全部丢弃数据
rolling_max_interval: 400

# 汇聚间隔
aggregate_interval: 0.2

# pdoa原始数据配置
pdoa_raw:
  dispBufferSize: 1000
  TDOALimit: 1

# pdoa角度
pdoa_angle:
  dispBufferSize: 1000
  TDOALimit: 1
  filtwindow: 10
  ElectLen: 21.00
  ZeroPoint: 179.73
  Anchors: [0x0AFC,0x5B2B,0x08D3,0x7BD3]
  PhaseOffset: [0,178.99,11.61,-130.48]
  Freq: 6.5e9